<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
<header-nav></header-nav>
<div class="input-container">
    <input 
    type="text"
    class="google-place-input"
    google-place
    (onSelect)="setAddress($event)"
    placeholder="Type to search..">
    <!-- Displaying the contents of the address object received from our event emitter -->
    <ul style="list-style-type: none;">
      <li *ngFor="let key of addrKeys">
        <span style="font-weight: bold">{{key}}</span>: <span>{{addr[key]}}</span>
      </li>
    </ul>
</div>
<!-- 
<div class="container">
  <h1>RSVP</h1>
  <div class="row">
      <div class="col-lg-6">
          <app-events (eventClicked)="childEventClicked($event)"></app-events>
      </div>
      <div class="col-lg-6">
          <app-event-details [event]="clickedEvent"></app-event-details>
      </div>
  </div>
</div>    -->